* {
  border: none;
  font-family: 'Symbols Nerd Font Mono';
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 10px;
  margin-bottom: 1px;
  margin-top: 1px;
}

window#waybar {
  background-color: rgba(43, 45, 50, 0.5);
  border-radius: 5px;
}

#workspaces {
  border-radius: 10px;
  background-color: #11111b;
  color: #b4befe;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  margin-left: 10px;
}

#custom-arch {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-right: 15px;
  margin-left: 15px;
}

#workspaces button {
  background: #11111b;
  color: #b4befe;
}

#clock, #pulseaudio, #bluetooth, #network, #tray, #cpu, #memory, #disk, #custom-arch, #mpris, #gamemode, #window {
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-top: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 15px;
}

#gamemode{
  color: #ff4059;
  padding-left: 5px;
}

#gamemode.running{
  color: #90f542;
}

window#waybar.empty{
  font-size: 0;
  margin: 0;
  padding: 0;
}


#clock {
  margin-right: 0;
  padding-left: 6px;
  padding-right: 6px;
}
